<div class="jumbotron">
  <h1 class="display-4">Node, Express, passport</h1>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur maxime optio laboriosam error doloribus hic cumque voluptates voluptatibus fuga aliquid ex amet, officia dolore rerum, officiis rem vero ullam repellendus?</p>
</div>